---
- name: Install https APT transport
  apt:
    name: apt-transport-https
    update_cache: true

- name: Ensure /etc/apt/keyrings/ exists
  file:
    path: /etc/apt/keyrings/
    state: directory
    mode: '0755'

- name: Add NodeJS APT key
  get_url:
    url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
    dest: /etc/apt/keyrings/nodesource.asc
    mode: '0644'

- name: Add NodeJS APT repo
  apt_repository:
    repo: deb [signed-by=/etc/apt/keyrings/nodesource.asc] https://deb.nodesource.com/node_{{ version }}.x {{ ansible_distribution_release }} main
    state: present
    filename: nodesource

- name: Install NodeJS
  apt:
    name: nodejs
    update_cache: true
