[{{ pool }}]

user = {{ user }}
group = {{ group }}

listen = /run/php/{{ version }}/{{ pool }}.sock
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = {{ pm.max_children }}
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

{% for key, value in settings|dictsort %}
php_value[{{ key }}] = '{{ value }}'
{% endfor %}

{% for key, value in admin_settings|dictsort %}
php_admin_value[{{ key }}] = '{{ value }}'
{% endfor %}

{% for key, value in env|dictsort %}
env[{{ key }}] = '{{ value }}'
{% endfor %}
