[Unit]
Description={{ description }}
After=network.target
{% for value in requires|default([]) %}
Requires={{ value }}.service
{% endfor %}

[Service]
Type=simple
User={{ user }}
Group={{ group }}
{% if working_directory is defined %}
WorkingDirectory={{ working_directory }}
{% endif %}
{% for key, value in env|dictsort %}
Environment="{{ key }}={{ value|replace('\\', '\\x5c')|replace('"', '\\x22') }}"
{% endfor %}
ExecStart={{ command }}
Restart=always

[Install]
WantedBy=multi-user.target
