server {
    listen 443 ssl http2;

    server_name {{ domain }};

    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    {% if basic_auth_password is defined and basic_auth_password is not none %}
        auth_basic "Restricted Access";
        auth_basic_user_file /etc/nginx/{{ site }}.htpasswd;
    {% endif %}

    {{ config|indent }}
}
